<div class="c1">
  <br/><br/><br/><br/>
<div  align="center">
  <img  src="assets/Error/ErrorGif.webp" class="img-fluid img-responsive">
  <div class="container" align="center">
    <div class="row">
      <div class="col-md-12">
        <div class="error-template">
          <h1>Oops!</h1>
          <h2>404 Not Found</h2>
          <div class="error-details">
            <h3 style="color: red;font-family: Arial, Helvetica, sans-serif;">Sorry, an error has occured, Requested page not found!!!</h3>
          </div>
          <div class="error-actions"><br><br>
            <a href="http://localhost:4200/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
              Take Me Home </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.google.co.in/"
              class="btn btn-dark btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <br/>
<br/>
<br/> 
</div>
</div>



