<div class="container">
  <br />
  <br />
  <br />

  <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      This section contains a wealth of information, related to <strong>GoPrint</strong> and its store. If you cannot find an answer to your question, 
      make sure to contact us. 
  </div>

  <br />

  <div class="" id="accordion">
      <div class="faqHeader">General questions</div>
      <div class="card ">
          <div class="card-header">
              <h4 class="card-header">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How do I create an account?</a>
              </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
              <div class="card-block">
                To create an account with GoPrint, please visit <strong>https://www.GoPrint.co.in/user_registration.php</strong>and complete your registration by filling the required details.
              </div>
          </div>
      </div>
      <div class="card ">
          <div class="card-header">
              <h4 class="card-header">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What benefits do I get by registering with GoprintPrint? Do I get any discount or special vouchers when I sign up?</a>
              </h4>
          </div>
          <div id="collapseTen" class="panel-collapse collapse">
              <div class="card-block">
                By registering with us, you will be able to order the wide range of products listed on our website. As soon as you register, you get sign up vouchers to help with your initial orders. You can also avail special offers that we have for our registered users regularly. You can see all your available vouchers by checking https://www.GoPrint.co.in/user_coupon.php 
              </div>
          </div>
      </div>
      <div class="card ">
          <div class="card-header">
              <h4 class="card-header">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Can I place an order without creating an account?</a>
              </h4>
          </div>
          <div id="collapseEleven" class="panel-collapse collapse">
              <div class="card-block">
                No, you will not be able to place an order without creating an  <strong>account.</strong>
              </div>
          </div>
      </div>
      
      
      

      
      <div class="card ">
          <div class="card-header">
              <h4 class="card-header">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">How do I get the status of my order?</a>
              </h4>
          </div>
      
          <div id="collapseFour" class="panel-collapse collapse">
              <div class="card-block">
                The status of all your orders are available in the “My Order History” tab in <strong>“My Accounts”.</strong> You will also receive SMS and email notifications on the status updates on your registered mobile number and email address.
                  <br />
                  Once the transaction is complete, you gain full access to the purchased product. 
              </div>
          </div>      
      </div>      
  </div>
  <br/><br/>
</div>

